<div class="container">
  <div class="row m-t-40">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="file-field" name="file-field" (change)="uploadFile($event)" type="file" accept=".json">
          <!-- <label for="first_name">Arquivo de menu</label> -->
        </div>

        <!-- <div class="col s6">
          <button class="btn waves-effect waves-light" type="button">Carregar
              <i class="material-icons right">file_upload</i>
            </button>
        </div> -->

      </div>
    </form>
  </div>
</div>