<div class="container">
  <div class="row">
    <div class="col s6">
      <div class="alert alert-danger" [hidden]="!error">
        <div *ngFor="let msg of mensagens">
          <span>{{msg}}</span>
        </div>

      </div>
      <div class="row m-t-40">
        <div class="file-field input-field col s12">
          <div class="btn myBtn">
            <span>Arquivo de menu</span>
            <input type="file" (change)="uploadFile($event)">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
      </div>
      <div class="row m-t-40" [hidden]="!appCombobox">
        <div class="col s12">
          <label>Portal</label>
          <select class="browser-default" #selectElem (change)="setAplicativo(selectElem.value)">
              <option disabled selected value> -- Selecione -- </option>              
              <option *ngFor="let aplicativo of aplicativos" [value]="aplicativo">
                  {{aplicativo}}
              </option>
          </select>
        </div>
      </div>

      <div class="col s6 col-md-offset-6 m-t-40" [hidden]="!appCombobox">
        <div class="col s4">
          <input name="grp1" type="radio" id="privado" [value]=1 [(ngModel)]="opcao">
          <label for="privado">Privado</label>
        </div>
        <div class="col s4">
          <input name="grp1" type="radio" id="publico" [value]=2 [(ngModel)]="opcao">
          <label for="publico">Público</label>
        </div>
      </div>

    </div>
    <!-- *ngIf="opcao!==undefined" -->
    <div class="col s6">
      <div class="col s12">
        <div class="card-panel white">
          <form>
            <div class="row">
              <div class="input-field col s12">
                <input id="email" type="text" class="validate">
                <label for="email">Nome</label>
              </div>

              <div class="input-field col s12">
                <input id="email" type="text" class="validate">
                <label for="email">Contexto</label>
              </div>

              <div class="input-field col s12">
                <input id="email" type="text" class="validate">
                <label for="email">Uri</label>
              </div>

              <div class="input-field col s12">
                <input id="email" type="text" class="validate">
                <label for="email">Chave Mobile</label>
              </div>

              <div class="input-field col s12">
                <input id="email" type="text" class="validate">
                <label for="email">Ícone</label>
              </div>

              <div class="col s6">
                <label>Ativo</label>
                <div class="switch"><label>NÃO<input type = "checkbox" checked>
                     <span class = "lever"></span>SIM</label></div>
              </div>

              <div class="col s6">
                <label>Submenu</label>
                <div class="switch"><label>NÃO<input type = "checkbox" checked>
                     <span class = "lever"></span>SIM</label></div>
              </div>
              <div class="input-field col s12">
                <input id="email" type="text" class="validate">
                <label for="email">Rota</label>
              </div>

              <div class="input-field col s12">
                <textarea id="textarea1" class="materialize-textarea" placeholder="Insira suas regras separadas por vírgula, ex: regra1, regra2, regra3"></textarea>
                <label for="textarea1">Regras</label>
              </div>

              <div class="col s12">
                <a class="waves-effect waves-light btn right">Cadastrar</a>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>