<nav class="navbar navbar-dark purple">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand">CacheLoader Config</span>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="menu">
            Menu <span class="sr-only">(current)</span>
          </a></li>
            <li><a href="#">Actions</a></li>
            <li><a href="#">Config</a></li>
        </ul>
        <div class="right f9 m-t-20">
            <span>build: 0.0.1</span>
        </div>
    </div>
</nav>
